<section class="p-2 p-md-11">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-5">
				<div class="user-profile-card m-3">
					<div class="user-profile-pic">
					 	<img src="<%= @user.photo %>" class="img-thumbnail" alt="<%= @user.first_name %>'s Profile Picture"> 
					</div>
					<div class="user-profile-about p-3">
						<h1 class="font-weight-light mt-3"><%= @user.first_name %> <%= @user.last_name %></h1>
						<p class="user-profile-location lead"><%= @user.address %></p>

						<div class="user-rating" style="font-size: 16px;font-weight: 600">
							<%= fa_icon 'star' %>
							 <%= Review.where(reviewee: @user).average(:rating).to_f.round(2) %> (<%= Review.where(reviewee: @user).count.to_i %>)
						</div>

						<div class="user-profile-description lead mt-3">
							<p><%= @user.description %></p>
						</div>
						<% if @user == current_user %>
							<div class="edit-user-profile py-2 d-flex mb-1">
								<%= link_to "Edit Profile", edit_user_registration_path, class: 'btn btn-secondary ml-auto'  %>
							</div>
						<% end %>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-7">
				<div class="user-images mt-3">
					<% if @user.photos.any? %>
						<h1 class="font-weight-light">Gallery</h1>
						<hr>
						<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
						  <ol class="carousel-indicators">
						    <% @user.photos.each_with_index do |photo, n| %>
						    	<li data-target='#MyCarousel' data-slide-to="#{n}" class="#{'active' if n == 0}"></li>
						   <% end %>
						  </ol>
						  <div class="carousel-inner" role="listbox" style=" width:100%; height: 500px !important;">
						  	<div class="carousel-item active">
							    <%= cl_image_tag @user.photos.first.photo %>
							</div>
							<% @user.photos.drop(1).each do |photo| %>
							    <div class="carousel-item">
							       <%= cl_image_tag photo.photo %>
							    </div>
							<% end %>
						  </div>
						  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
						    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
						    <span class="sr-only">Previous</span>
						  </a>
						  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
						    <span class="carousel-control-next-icon" aria-hidden="true"></span>
						    <span class="sr-only">Next</span>
						  </a>
						</div>
					<% end %>
					<% if @user == current_user %>
						<hr>
						<div class="col-12" id="userPhotos">
							<div class="row">
								<% @user.photos.each do |photo| %>
									<div class="user-photo" id="user-photo-<%= photo.id %>">
										<div class="user-photo-top">
									    	<img src="<%= photo.photo %>" style="height: 100px;">
										</div>
										<div class="user-photo-bottom">
											<%= link_to "Delete", user_photo_path(current_user, photo), method: :delete, remote: true, class: 'btn btn-danger delete-button mt-2'  %>
										</div>
									</div>
								<% end %>
							</div>
						</div>
						<h4 class="font-weight-light mt-4">Upload New Images</h4>
						<hr>
						<div id="new-images">
							<%= simple_form_for([@user, @image], remote: true) do |f| %>
							  <%= f.input :photo, label: false, input_html: { multiple: true } %>
							  <%= f.input :photo_cache, as: :hidden %>
							  <%= f.button :submit, 'Upload', class: 'btn btn-primary px-3' %>
							<% end %>
						</div>
					<% end %>
				</div>
				<hr>
				<% if (@user != current_user) && (@invite_sent.empty?) %>
					<div id="new-invite" class="mt-2">
						<h1 class="font-weight-light">Invite <%= @user.first_name %> to Meet</h1>
						<hr>
						<%= simple_form_for([@user, @invite], remote: true) do |f| %>
						  <%= f.input :location, required: true %>
						  <%= f.input :date_time, required: true %>
						  <%= f.button :submit, class: 'btn btn-primary' %>
						<% end %>
					</div>
				<% elsif (@user != current_user) && (@invite_sent.any?)  %>
					<%= render 'invites/invite-sent' %>
				<% end %>
				<div class="user-profile-reviews" id="user-reviews">
					<h1 class="font-weight-light mt-3">Reviews</h1>
					<hr>
					<% if ((@user_reviews.empty?) && (@user != current_user)) %>
						<h4 class="font-weight-light">Be the first to leave a review</h4>
					<% elsif ((@user_reviews.empty?) && (@user == current_user)) %>
					<h4 class="font-weight-light">No Reviews</h4>
					<% else %>
						<% @user_reviews.each do |review| %>
							<div class="review" id="user-review-<%=review.id%>">
								<h6 class="mb-2"><%= review.created_at.strftime('%d %B %Y') %></h6>
								<% review.rating.times do  %>
									<%= fa_icon 'star', class: 'mb-3' %>
								<% end %>
								<div class="col-12">
									<div class="row">
										<div class="col-10">
											<p class="lead" style="font-size: 16px;"><%= review.description %></p>
										</div>
										<% if review.reviewer == current_user %>
											<div class="col-2 text-center">
												<%#= fa_icon 'edit', class: 'mx-2' %>
												<%= link_to user_review_path(@user, review), remote: true, method: :delete, style: 'color: black;' do  %>
													<%= fa_icon 'trash', class: 'mx-2' %>
												<% end %>
											</div>
										<% end %>
									</div>
								</div>

								<div class="review-user d-table">
									<%= link_to user_path(review.reviewer) do %>
										<div class="d-table-cell">
										 	<img src="<%= review.reviewer.photo %>" class="rounded-circle" alt="<%= review.reviewer.first_name %>'s Profile Picture" style="height: 50px;width: 50px;"> 
										</div>
										<div class="d-table-cell" style="vertical-align: middle;">
											<div class="ml-3">
										 		<p class="m-0" style="font-size: 14px;font-weight: 500">
										 			<%= review.reviewer.first_name %> <%= review.reviewer.last_name %></p>
										 		<p class="lead m-0" style="font-size: 12px;">Joined in <%= review.reviewer.created_at.strftime('%B %Y') %></p>
											</div>
										</div>
									<% end %>
								</div>
							<hr>
							</div>
						<% end %>
					<% end %>
				</div>
				<% if @user != current_user %>
					<div id="new-review" class="mt-5">
						<h3 class="font-weight-light">Leave a Review about <%= @user.first_name %></h3>
						<hr>
						<%= simple_form_for([@user, @review], remote: true) do |f| %>
						  <%= f.input :rating, collection: 1..5, include_blank: false %>
						  <%= f.input :description, required: true %>
						  <%= f.button :submit, class: 'btn btn-primary' %>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</section>